.qr-description{
    font-size: 20px;
    color: #424242;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}

.qr-container {
    display: flex;
    flex-direction: column;
}

.qr-upload {
    align-self: center;
    position: absolute;
    bottom: 30%;
    outline: none;
    border: 1px solid #0287D0;
    color: #0287D0;
    font-weight: 500;
    background-color: transparent;
    padding: 6px 14px;
}

.qr-submit {
    bottom: 25%;
}

.qr-section {
    background-color: #535353;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .qr-upload {
        bottom: -132px;
    }

    .qr-submit {
        bottom: -177px;
    }

    .qr-description {
        margin-bottom: 130px;
    }
}