.qr-description{
    font-size: 20px;
    background-color: #E91E63;
    color: white;
    padding: 10px 14px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 20% 10% 0 10%;
}