.qr-description{
    font-size: 20px;
    color: #424242;
    text-align: center;
    margin-top: 40px;
}

.qr-container {
    display: flex;
    flex-direction: column;
}

.qr-upload {
    align-self: center;
    position: absolute;
    bottom: 30%;
    outline: none;
    border: 1px solid #0287D0;
    color: #0287D0;
    font-weight: 500;
    background-color: transparent;
    padding: 6px 14px;
}

.qr-submit {
    bottom: 25%;
}

.qr-section {
    background-color: #535353;
}