.details-container {
    display: block;
    height: 100%;
}

.details-image {
    height: 300px;
    width: 100%;
    position: relative;
}

.details-image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
} 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0) );
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 12px 44px 12px;
}

.discount {
    background-color: #0287D0;
    color: white;
    padding: 10px 16px;
    border-radius: 12px;
    margin-top: -25px; 
    text-transform: uppercase;
    z-index: 999;
}

.details-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #424242;
}

.details-description {
    margin: 0 20px 32px 20px;
    font-size: 16px;
    font-weight: 300;
    color: #8d8d8d;
    text-align: center;
}

.details-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 44px;
}

.card {
    border: 1px solid #8d8d8d;
    color: grey;
    padding: 10px;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card i {
    font-size: 22px;
    color: #8d8d8d;
}

.card-name{
    font-weight: bold;
    color: #424242;
}

.card-more{
    font-size: 12px;
    color: #8d8d8d;
}

.details-send {
    background-color: #E91E63;
    color: white;
    padding: 10px 14px;
    border-radius: 7px;
    outline: none;
    border: none;
}

.details-send i {
    font-size: 14px;
    font-weight: 300;
}

.back-button {
    position: absolute;
    top: 24px;
    margin-left: 24px;
    text-decoration: none;
    color: #ffffff;
    z-index: 2;
}

.back-button i {
    font-size: 18px;
}

.interest-button {
    outline: none;
    background-color: transparent;
    border: none;
    color: #ffffff;
    position: absolute;
    top: 22px;
    right: 24px;
    z-index: 1;
}

.interest-button i {
    font-size: 20px;
}