.deal-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex: 1;
    border-radius: 25px;
}

.photo{
    margin-left: 0;
}

.category{
    background-color: rgba(94, 94, 94, 0.5);
    color: white;
    position: absolute;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.photo img {
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;    
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

.info .info-title {
    font-weight: bold;
    font-size: 20px;
}

.info .info-description {
    text-align: left;
}

.info .info-discount {
    background-color: #0287D0;
    color: white;
    padding: 10px;
}