.deals-container{
    padding: 26px;
    display: flex;
    flex-direction: column;
    background: no-repeat url("../../assets/images/main-background.png");
}

.deal-card{
    margin-bottom: 62px;
}

.deals-title{
    font-weight: bold;
    justify-content: flex-start;
    display: flex;
    margin: 20px 0 0 0;
    font-size: 24px;
}

.deals-subtitle{
    justify-content: flex-start;
    display: flex;
    margin: 4px 0 28px 0;
    font-size: 16px;
    color: #8d8d8d;
    font-weight: 300;
}

